.pricing {
  padding: 95px 0 145px 30px;
  background-color: var(--co-dark-green);
  color: var(--co-white);

}

.pricing__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.pricing__nav {
  margin: 65px 0 0 0;
}

.pricing__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 60px;
}

/* .pricing__nav-item {
} */

.pricing__nav-link {
  font-size: 25px;
  font-weight: 600;

}
